.navbar{
background-color: #111;
}
.nav-link{
    color: white;
    font-size: larger;
    font-weight: bolder;
}
.nav-link:hover{
    color:gray
}
.card{
    transform: scale(1);
    transition: transform 0.3s ease;
}
.card-body{
background-color: #edf3f3;
}
.card-img-top{
    width: 330px;
    height: 280px;
    /* object-fit:cover; */
}
.card-title{
    font-weight: bolder;
    font-size: x-large;
}
.card-brand{
    font-weight: lighter;
    font-size: small;
}
.card-price{
font-weight: 600;
}
.shopping-cart {
    display: none;
    font-size: x-large;
}
.card:hover .shopping-cart {
/* transform: translateX(-50px); */
   display: flex;
}
.card:hover .shopping-cart {
    /* transform: translateX(-50px); */
    
    display: flex;
    }
.card:hover{
    /* transform: translateX(-50px); */
    transform: scale(1.04);
    
    }